# Mac folder files
**/.DS_Store

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# Videos 
public/video

# media
public/media

#secret key
config.json